<div th:fragment="article-list" class="row">
  <h1 class="page_title">Liste des articles</h1>

  <div
    th:if="${articles.isEmpty()}"
    class="alert alert-dark no-result-alert mt-4"
  >
    <h3 class="m-4">Aucun article n'a été trouvé</h3>
  </div>

  <div
    class="card-container col-lg-6 col-md-12 mb-4"
    th:each="article: ${articles}"
  >
    <div class="card">
      <h4 class="card-title ms-4 mt-4" th:text="${article.name}"></h4>

      <div class="row">
        <div class="images-carousels col-md-5 col-sm-12 ms-4 mt-4 mb-4">
          <section
            th:id="'main-carousel' + ${article.id}"
            th:attr="article_id=  ${article.id}"
            class="splide main-carousels main-carousel"
          >
            <div class="splide__track">
              <ul class="splide__list">
                <li
                  class="splide__slide"
                  th:each="picture: ${article.pictures}"
                >
                  <img th:src="${picture.url}" />
                </li>
              </ul>
            </div>
          </section>

          <section
            th:id="'thumbnail-carousel' + ${article.id}"
            class="splide thumbnail-carousels thumbnail-carousel"
          >
            <div class="splide__track">
              <ul class="splide__list">
                <li
                  class="splide__slide"
                  th:each="picture: ${article.pictures}"
                >
                  <img th:src="${picture.url}" />
                </li>
              </ul>
            </div>
          </section>
        </div>

        <div class="card-body col-md-5 col-sm-12">
          <div class="article-component">
            <h4>Description</h4>
            <p class="card-text" th:text="${article.description}"></p>
          </div>

          <div class="article-component">
            <h4>CHF</h4>
            <p class="card-text price" th:text="${article.price}"></p>
          </div>

          <div class="article-component">
            <h4>Type</h4>
            <p class="card-text" th:text="${article.type}"></p>
          </div>

          <div class="article-component">
            <h4>Tailles disponibles</h4>
            <ul class="size-list">
              <li
                class="size-item"
                th:each="size: ${article.sizes}"
                th:text="${size}"
              ></li>
            </ul>
          </div>

          <!-- Display coloris -->
          <div class="article-component">
            <h4>Couleurs disponibles</h4>
            <ul class="size-list">
              <li
                class="size-item"
                th:each="colori: ${article.coloris}"
                th:text="${colori.name}"
                th:style="'background-color:' + ${colori.hexa} + '!important'"
              ></li>
            </ul>
          </div>

            <a
              sec:authorize="isAuthenticated()"
              th:href="@{/admin/show/{id}(id=${article.id})}"
            >
              <button class="details-btn">Mettre à jour l'article</button>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div th:if="${articles.totalPages} > 1" class="pagination-container">
      <a
        th:each="pageNumber : ${pageNumbers}"
        th:href="@{/catalogue(search=${search}, page=${pageNumber})}"
        th:text="${pageNumber}"
        class="pagination-button"
        th:classappend="${pageNumber==articles.number + 1} ? active"
      ></a>
    </div>
  </div>

  <div th:fragment="new-article">
    <h1 th:if="${isNew}">Insertion d'un article</h1>
    <h1 th:if="${isEdit}">Modification d'un article</h1>

    <form
      action="#"
      th:action="${isNew} ? @{/admin/save} : @{/admin/update}"
      th:object="${article}"
      enctype="multipart/form-data"
      method="post"
    >
      <input th:if="${isEdit}" type="number" hidden th:field="*{id}" />

      <div class="form-group">
        <label for="name" th:text="Nom"></label>
        <input
          type="text"
          class="form-control"
          th:required="required"
          th:field="*{name}"
        />
      </div>

      <div class="form-group">
        <label for="name" th:text="Description"></label>
        <input
          type="text"
          class="form-control"
          th:required="required"
          th:field="*{description}"
        />
      </div>

      <div class="form-group">
        <label for="price" th:text="Prix"></label>
        <input
          type="number"
          min="0"
          value="0"
          step="0.05"
          class="form-control"
          th:required="required"
          th:field="*{price}"
        />
      </div>

      <div class="form-group">
        <label for="type" th:text="Type"></label>
        <input
          type="text"
          class="form-control"
          th:required="required"
          th:field="*{type}"
        />
      </div>

      <!-- Add a size picker -->
      <div class="form-group">
        <label for="sizes" th:text="Tailles"></label>
        <select
          class="form-select"
          th:field="*{sizes}"
          multiple
          th:required="required"
        >
          <option
            th:each="size: ${sizes}"
            th:value="${size}"
            th:text="${size}"
          ></option>
        </select>
      </div>

      <div th:if="${!isEdit}" class="form-group">
        <label for="pictures">Images de l'article:</label>
        <input type="file" id="images" name="images" multiple />
      </div>

      <div id="image-preview"></div>

      <button th:if="${isNew}" type="submit" class="btn btn-primary">
        Créer l'article
      </button>
      <button th:if="${isEdit}" type="submit" class="btn btn-primary">
        Modifier l'article
      </button>
    </form>
  </div>
</div>
