<div th:fragment="article-list" class="row">
  <h1>Liste des article</h1>

  <div class="card-container col-6 mb-4" th:each="article: ${articles}">
    <div class="card">

      <h4 class="card-title m-3" th:text="${article.name}"></h4>

      <div class="images-carousels">
        <section
          th:id="'main-carousel' + ${article.id}"
          class="splide main-carousels"
        >
          <div class="splide__track">
            <ul class="splide__list">
              <li class="splide__slide" th:each="picture: ${article.pictures}">
                <img th:src="${picture.url}" />
              </li>
            </ul>
          </div>
        </section>
  
        <section
          th:id="'thumbnail-carousel' + ${article.id}"
          class="splide thumbnail-carousels"
        >
          <div class="splide__track">
            <ul class="splide__list">
              <li class="splide__slide" th:each="picture: ${article.pictures}">
                <img th:src="${picture.url}" />
              </li>
            </ul>
          </div>
        </section>
  
      </div>

      <div class="card-body">
        <p class="card-text" th:text="${article.description}"></p>
        <p class="card-text" th:text="${article.price}"></p>
        <p class="card-text" th:text="${article.type}"></p>
        <a th:if="${isAdmin}" th:href="@{/admin/show/{id}(id=${article.id})}">
          <button class="details-btn">Plus de détails</button>
        </a>
      </div>
    </div>
  </div>

  <!--<section class="product" >
    <div class="product__photo">
      <div class="photo-container">

        

        <div class="photo-main">

          <img src="https://res.cloudinary.com/john-mantas/image/upload/v1537291846/codepen/delicious-apples/green-apple-with-slice.png" alt="green apple slice">
        </div>
        <div class="photo-album">
          <ul>
            <li><img src="https://res.cloudinary.com/john-mantas/image/upload/v1537302064/codepen/delicious-apples/green-apple2.png" alt="green apple"></li>
            <li><img src="https://res.cloudinary.com/john-mantas/image/upload/v1537303532/codepen/delicious-apples/half-apple.png" alt="half apple"></li>
            <li><img src="https://res.cloudinary.com/john-mantas/image/upload/v1537303160/codepen/delicious-apples/green-apple-flipped.png" alt="green apple"></li>
            <li><img src="https://res.cloudinary.com/john-mantas/image/upload/v1537303708/codepen/delicious-apples/apple-top.png" alt="apple top"></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="product__info">
      <div class="title">
        <h1>Delicious Apples</h1>
      </div>
      <div class="price">
        <span>7.93</span> CHF
      </div>
      <div class="variant">
        <h3>SELECT A COLOR</h3>
        <ul>
          <li><img src="https://res.cloudinary.com/john-mantas/image/upload/v1537302064/codepen/delicious-apples/green-apple2.png" alt="green apple"></li>
          <li><img src="https://res.cloudinary.com/john-mantas/image/upload/v1537302752/codepen/delicious-apples/yellow-apple.png" alt="yellow apple"></li>
          <li><img src="https://res.cloudinary.com/john-mantas/image/upload/v1537302427/codepen/delicious-apples/orange-apple.png" alt="orange apple"></li>
          <li><img src="https://res.cloudinary.com/john-mantas/image/upload/v1537302285/codepen/delicious-apples/red-apple.png" alt="red apple"></li>
        </ul>
      </div>
      <div class="description">
        <h3>Description</h3>

      </div>
      <button class="details-btn">Plus de détails</button>
    </div>
  </section>

  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Nom</th>
        <th scope="col">Prix</th>
        <th scope="col">Description</th>
        <th scope="col">Type</th>
        <th scope="col">Images</th>
        <th scope="col" th:if="${isAdmin}">Supprimer</th>
        <th scope="col">Voir</th>
      </tr>
    </thead>

    <tbody>
      <tr th:each="article: ${articles}">
        <td th:text="${article.name}"></td>
        <td th:text="${article.price}"></td>
        <td th:text="${article.description}"></td>
        <td th:text="${article.type}"></td>
        <td>
          <div th:each="picture: ${article.pictures}">
            <img th:src="${picture.url}" style="width: 100px; height: 100px" />
          </div>
        </td>
        <td th:if="${isAdmin}">
          <form
            action="#"
            th:action="@{/admin/delete}"
            th:object="${article}"
            method="post"
          >
            <input type="hidden" th:value="${article.id}" name="id" />
            <button type="submit" class="btn btn-danger">Supprimer</button>
          </form>
        </td>
        <td>
          <a
            th:if="${!isAdmin}"
            th:href="@{/catalogue/show/{id}(id=${article.id})}"
          >
            <button type="submit" class="btn btn-warning">Voir</button>
          </a>
          <a th:if="${isAdmin}" th:href="@{/admin/show/{id}(id=${article.id})}">
            <button type="submit" class="btn btn-warning">Voir</button>
          </a>
        </td>
      </tr>
    </tbody>
  </table>-->

  <div th:if="${articles.totalPages} > 1" class="pagination-container">
    <a
      th:each="pageNumber : ${pageNumbers}"
      th:href="@{/catalogue(search=${search}, page=${pageNumber})}"
      th:text="${pageNumber}"
      class="pagination-button"
      th:classappend="${pageNumber==articles.number + 1} ? active"
    ></a>
  </div>
</div>

<div th:fragment="new-article">
  <h1 th:if="${isNew}">Insertion d'un article</h1>
  <h1 th:if="${isEdit}">Modification d'un article</h1>

  <form
    action="#"
    th:action="${isNew} ? @{/admin/save} : @{/admin/update}"
    th:object="${article}"
    enctype="multipart/form-data"
    method="post"
  >
    <input th:if="${isEdit}" type="number" hidden th:field="*{id}" />

    <div class="form-group">
      <label for="name" th:text="Nom"></label>
      <input
        type="text"
        class="form-control"
        th:required="required"
        th:field="*{name}"
      />
    </div>

    <div class="form-group">
      <label for="name" th:text="Description"></label>
      <input
        type="text"
        class="form-control"
        th:required="required"
        th:field="*{description}"
      />
    </div>

    <div class="form-group">
      <label for="price" th:text="Prix"></label>
      <input
        type="number"
        min="0"
        value="0"
        step="0.05"
        class="form-control"
        th:required="required"
        th:field="*{price}"
      />
    </div>

    <div class="form-group">
      <label for="type" th:text="Type"></label>
      <input
        type="text"
        class="form-control"
        th:required="required"
        th:field="*{type}"
      />
    </div>

    <div th:if="${!isEdit}" class="form-group">
      <label for="pictures">Images de l'article:</label>
      <input type="file" id="images" name="images" multiple />
    </div>

    <button th:if="${isNew}" type="submit" class="btn btn-primary">
      Créer l'article
    </button>
    <button th:if="${isEdit}" type="submit" class="btn btn-primary">
      Modifier l'article
    </button>
  </form>
</div>
