<div th:fragment="header">
  <nav
    class="navbar navbar-expand-lg navbar-dark"
    style="background-color: #bd9c77; border-bottom: 5px #a38767 solid"
  >
    <div class="container-fluid">
      <a href="/" class="d-none d-sm-block" id="titre"
        ><h1 style="font-weight: 50">WalkingFish</h1></a
      >
      <a href="/" class="m-3 ml-5 mr-5"
        ><img
          id="wf_logo"
          src="/img/white_walkingfish_logo.png"
          alt="Logo WalkingFish"
      /></a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav h4 me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link text-white" href="/"
              >Accueil</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="/catalogue">Catalogue</a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link text-white dropdown-toggle"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Nous contacter
            </a>
            <ul class="dropdown-menu">
              <li>
                <a
                  class="dropdown-item"
                  href="https://instagram.com/walkingxfish?igshid=aoi76q9yl4vj"
                  target="blank"
                  ><img
                    id="wf_logo"
                    src="/img/insta_logo.ico"
                    style="width: 32px; padding-right: 10px"
                  />Instagram</a
                >
              </li>
            </ul>
          </li>
        </ul>

        <!--  **************** logout ****************** -->
      <div
        th:fragment="logout"
        class="logout d-flex justify-content-end mr-4"
        sec:authorize="isAuthenticated()"
      >
        <form action="#" th:action="@{/logout}" method="post" class="me-3">
          <input class="btn btn-danger" type="submit" value="Se déconnecter" />
        </form>

        <a class="btn btn-success me-3" href="/admin/create">
          Ajouter un article
        </a>
      </div>

        <form class="d-flex" th:action="@{/catalogue}" method="GET">
          <input
            class="form-control me-2"
            type="search"
            placeholder="Recherche"
            id="search"
            name="search"
            th:value="${search} ? ${search} : ''"
          />
          <button class="btn btn-light" type="submit" value="submit">
            Rechercher
          </button>
        </form>
      </div>
    </div>
  </nav>

  <div class="container" id="error_box" th:if="${errors}">
    <div class="row justify-content-md-center">
      <div class="col-12 col-md-6">
        <div class="bg-danger text-white p-3 mt-3 mb-3 rounded text-center">
          <h5 id="error_title"></h5>
          <p id="error_description" th:text="${errors}"></p>
        </div>
      </div>
    </div>
  </div>
</div>
