@font-face {
	font-family: 'Devastation';
	src: url('../fonts/Devastation.ttf') format("truetype"); /* IE9 Compat Modes */
	font-family: 'Retrock';
	src: url('../fonts/Retrock.ttf') format("truetype"); /* IE9 Compat Modes */
	font-family: 'Education';
	src: url('../fonts/Education.ttf') format("truetype"); /* IE9 Compat Modes */
	font-family: 'Nougat';
	src: url('../fonts/Nougat.ttf') format("truetype"); /* IE9 Compat Modes */

}
*{
	font-weight: 75;
}
body{
	position: relative;
  	min-height: 100vh;
}
.container{
	padding-bottom: 5rem;
}
footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 3.5rem;
}
#menu a.active{
	color: blue;
}
#wf_logo{
	display: inline-block;
	width: 5em;
}
/*a, a:hover{
	color: inherit;
	text-decoration: none;
}*/
.justifie{
	text-align: justify;
}
#first_image {
	height: 70vh; 
	width: 100vw;
	background-image: url('../img/bg.jpeg');
	background-position: center center;
	background-repeat: no-repeat;
	/*background-attachment: fixed;*/
	background-size: cover;
	background-size: cover;
	color: black;
	border-bottom: 5px solid #BD9C77;
	
}
#titre{
	text-decoration: none;
	color: white;
	font-size: 2em;
}
#titre:hover{
	color: beige;
	text-decoration: none;
}

.homepage_test_format a {
	text-decoration: underline;
	color: #BD9C77;
}
.homepage_test_format a:hover {
	color: #5E4E3B;
}
.homepage_test_format {
	text-align: justify;
	font-family: "Nougat";
	font-size: 2em;
	color: black;
	background-color: white;
}

#text_logo{
	/*display: inline-block;*/
	width: 400px;
	vertical-align: top;
	/*padding-left: 50px;*/
	/*padding-top: 60px;
	padding-bottom: 100px;*/
}
.card:hover{
	border: 1px black solid;
}

.subtitle_homepage h2 {
	border-bottom: solid #BD9C77 5px;
	text-align: justify;
	font-family: "Nougat";
	font-size: 5em;
	color: black;
	background-color: white;
}

.add-button {
	width: 100px;
	height: 100px;
	border: 3px solid #BD9C77;
	border-radius: 10%;
	padding: 0;
	background-color: inherit;
	margin-right: 10px; /* Space between button and images */
  }
  
.add-button svg {
	width: 60%;
	height: 60%;
}

.add-button-container {
	display: flex;
	flex-wrap: wrap;
  }

  .image-container {
	display: flex;
	flex-wrap: wrap;
  }

  .image {
	width: 100%;
 	height: 100%;
	border-radius: 10%;
	transition: transform .2s; /* Add transition for hover effect */
  }

  .image:hover {
	z-index: 100;
	transform: scale(1.5); /* Scale up image on hover */
  }

  .remove-button {
	width: 100%;
	padding: 5px;
	margin-top: 5px;
	display: none; /* Hide remove button by default */
  }

  .image-wrapper:hover .remove-button {
	display: block; /* Show remove button on hover */
  }

  .image-wrapper {
	position: relative; /* Add position relative to allow the remove button to be absolute */
	width: 100px;
	height: 100px;
	margin-bottom: 10px; /* Space between images */
	margin-right: 10px; /* Space between images */
  }

  /* @media (min-width: 600px) {
	.image {
	  width: 80px;
	  height: 80px;
	  margin-bottom: 20px;
	}
  } */

  /* Pagination */
  .pagination-container {
	display: flex;
	justify-content: center; /* Center the pagination buttons */
	flex-wrap: nowrap; /* Prevent buttons from wrapping to new line */
	align-items: center;
 }
  
  .pagination-button {
	width: 50px;
	height: 50px;
	background-color: #FFF;
	color: #BD9C77;
	border: none;
	text-align: center;
	margin: 0 10px; /* Space between buttons */
	cursor: pointer;
	transition: background-color .2s;
	font-size: 30px;
	border: 2px solid #BD9C77;
	border-radius: 10%;
  }

  .pagination-button.active 
  {
	background-color: #BD9C77;
	color: white;
  }
  
  .pagination-button:hover {
	background-color: #BD9C77;
	color: white;
  }

  /* Article card */


  /* ----- Global ----- */
:root {
--beige: #BD9C77;
--gray: #5E4E3B;
--white: #FFF;
--black: #000;
--light-gray: #F2F2F2;
--light-beige: #F9F7F4;
}

.product img {
	max-width: 100%;
	filter: drop-shadow(1px 1px 3px var(--light-beige));
}

/* ----- Product Section ----- */
.product {
	display: grid;
	grid-template-columns: 0.9fr 1fr;
	margin: auto;
	padding: 2.5em 0;
	min-width: 600px;
	background-color: white;
	border-radius: 5px;
}

/* ----- Photo Section ----- */
.product__photo {
	position: relative;
}

.photo-container {
	position: absolute;
	left: -2.5em;
	display: grid;
	grid-template-rows: 1fr;
	width: 400px;
	height: 500px;
	border-radius: 6px;
	box-shadow: 4px 4px 25px -2px rgba(0, 0, 0, 0.3);
}

.photo-main {
	border-radius: 6px 6px 0 0;
	background-color: #9be010;
	background: radial-gradient(var(--light-beige), var(--beige));
}

.photo-main img {
	position: absolute;
	left: -3.5em;
	top: 2em;
	max-width: 110%;
	filter: saturate(150%) contrast(120%) hue-rotate(10deg)
		drop-shadow(1px 20px 10px rgba(0, 0, 0, 0.3));
}

.photo-album {
	padding: 0.7em 1em;
	border-radius: 0 0 6px 6px;
	background-color: #fff;
}

.photo-album ul {
	display: flex;
	justify-content: space-around;
}

.photo-album li {
	float: left;
	width: 55px;
	height: 55px;
	padding: 7px;
	border: 1px solid #9be010;
	border-radius: 3px;
}

/* ----- Informations Section ----- */

.product__info {
	padding: 0.8em 0;
}

.title h1 {
	margin-bottom: 0.1em;
	color: #e5f89e;
	font-size: 1.5em;
	font-weight: 900;
}

.title span {
	font-size: 0.7em;
	color: #e5f89e;
}

.price {
	margin: 1.5em 0;
	color: #9be010;
	font-size: 1.2em;
}

.price span {
	padding-left: 0.15em;
	font-size: 2.9em;
}

.variant {
	overflow: auto;
}

.variant h3 {
	margin-bottom: 1.1em;
}

.variant li {
	float: left;
	width: 35px;
	height: 35px;
	padding: 3px;
	border: 1px solid transparent;
	border-radius: 3px;
	cursor: pointer;
}

.variant li:first-child {
	border: 1px solid #F00;
}

.variant li:hover {
	border: 1px solid #F00;
}

.variant li:not(:first-child) {
	margin-left: 0.1em;
}

.description {
	clear: left;
	margin: 2em 0;
}

.description h3 {
	margin-bottom: 1em;
}

.description ul {
	font-size: 0.8em;
	list-style: disc;
	margin-left: 1em;
}

.description li {
	text-indent: -0.6em;
	margin-bottom: 0.5em;
}

.details-btn {
	padding: 1.5em 3.1em;
	border: none;
	border-radius: 7px;
	font-size: 0.8em;
	font-weight: 700;
	letter-spacing: 1.3px;
	color: #fff;
	background-color: var(--beige);
	box-shadow: 2px 2px 25px -7px #5E4E3B;
	cursor: pointer;
}

.details:active {
	transform: scale(0.97);
}

/* ----- Slider ----- */
.splide__slide img {
	width: 100%;
	height: 100%;
	object-fit: cover;
  }

  .splide__slide {
	opacity: 0.6;
  }
  
  .splide__slide.is-active {
	opacity: 1;
  }

  .images-carousels {
	width: 100%;
  }

  .main-carousels { 	
	margin-bottom: 1em;
  }