@font-face {
	font-family: 'Devastation';
	src: url('../fonts/Devastation.ttf') format("truetype"); /* IE9 Compat Modes */
	font-family: 'Retrock';
	src: url('../fonts/Retrock.ttf') format("truetype"); /* IE9 Compat Modes */
	font-family: 'Education';
	src: url('../fonts/Education.ttf') format("truetype"); /* IE9 Compat Modes */
	font-family: 'Nougat';
	src: url('../fonts/Nougat.ttf') format("truetype"); /* IE9 Compat Modes */

}
*{
	font-weight: 75;
}

body{
	position: relative;
  	min-height: 100vh;
}
.container{
	padding-bottom: 5rem;
}
footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 3.5rem;
}
#menu a.active{
	color: blue;
}
#wf_logo{
	display: inline-block;
	width: 5em;
}
/*a, a:hover{
	color: inherit;
	text-decoration: none;
}*/
.justifie{
	text-align: justify;
}
#first_image {
	height: 70vh; 
	width: 100vw;
	background-image: url('../img/bg.jpeg');
	background-position: center center;
	background-repeat: no-repeat;
	/*background-attachment: fixed;*/
	background-size: cover;
	background-size: cover;
	color: black;
	border-bottom: 5px solid #BD9C77;
	
}
#titre{
	text-decoration: none;
	color: white;
	font-size: 2em;
}
#titre:hover{
	color: beige;
	text-decoration: none;
}

.homepage_test_format a {
	text-decoration: underline;
	color: #BD9C77;
}
.homepage_test_format a:hover {
	color: #5E4E3B;
}
.homepage_test_format {
	text-align: justify;
	font-family: "Nougat";
	font-size: 2em;
	color: black;
	background-color: white;
}

#text_logo{
	/*display: inline-block;*/
	width: 400px;
	vertical-align: top;
	/*padding-left: 50px;*/
	/*padding-top: 60px;
	padding-bottom: 100px;*/
}
.card:hover{
	border: 1px black solid;
}

.subtitle_homepage h2 {
	border-bottom: solid #BD9C77 5px;
	text-align: justify;
	font-family: "Nougat";
	font-size: 5em;
	color: black;
	background-color: white;
}

.add-button {
	width: 100px;
	height: 100px;
	border: 3px solid #BD9C77;
	border-radius: 10%;
	padding: 0;
	background-color: inherit;
	margin-right: 10px; /* Space between button and images */
  }
  
.add-button svg {
	width: 60%;
	height: 60%;
}

.add-button-container {
	display: flex;
	flex-wrap: wrap;
  }

  .image-container {
	display: flex;
	flex-wrap: wrap;
	height: 120px;
	margin-bottom: 40px; /* Space between images and button */
  }

  .image {
	width: 100%;
 	height: 100%;
	border-radius: 10%;
	transition: transform .2s; /* Add transition for hover effect */
  }

  .image:hover {
	transform: scale(1.5); /* Scale up image on hover */
  }

  .remove-button {
	width: 100%;
	padding: 5px;
	margin-top: 5px;
  }

  .image-wrapper {
	width: 100px;
	height: 100px;
	margin-bottom: 10px; /* Space between images */
	margin-right: 10px; /* Space between images */
  }

  /* Pagination */
  .pagination-container {
	display: flex;
	justify-content: center; /* Center the pagination buttons */
	flex-wrap: nowrap; /* Prevent buttons from wrapping to new line */
	align-items: center;
 }
  
  .pagination-button {
	width: 50px;
	height: 50px;
	background-color: #FFF;
	color: #BD9C77;
	border: none;
	text-align: center;
	margin: 0 10px; /* Space between buttons */
	cursor: pointer;
	transition: background-color .2s;
	font-size: 30px;
	border: 2px solid #BD9C77;
	border-radius: 10%;
  }

  .pagination-button.active 
  {
	background-color: #BD9C77;
	color: white;
  }
  
  .pagination-button:hover {
	background-color: #BD9C77;
	color: white;
  }

  /* Article card */


  /* ----- Global ----- */
:root {
--beige: #BD9C77;
--gray: #5E4E3B;
--white: #FFF;
--black: #000;
--light-gray: #F2F2F2;
--light-beige: #F9F7F4;
}

.details-btn {
	padding: 1.5em 3.1em;
	border: none;
	border-radius: 7px;
	font-size: 0.8em;
	font-weight: 700;
	letter-spacing: 1.3px;
	color: #fff;
	background-color: var(--beige);
	box-shadow: 2px 2px 25px -7px #5E4E3B;
	cursor: pointer;
}

.details:active {
	transform: scale(0.97);
}

/* ----- Card ----- */
.card-container {
	flex-flow: column wrap;
}

/* ----- Slider ----- */
.splide__slide img {
	width: 100%;
	height: 100%;
	object-fit: cover;
  }

  .splide__slide {
	opacity: 0.6;
  }
  
  .splide__slide.is-active {
	opacity: 1;
  }

  .images-carousels {
	width: 95%;
	margin: 0 auto;
  }

  .main-carousels {
	margin-bottom: 1em;
  }

  .page_title {
	font-family: "Nougat";
	font-size: 5em;
	color: black;
  }

  .no-result-alert h3 {
	font-family: "Nougat";
	font-size: 2em;
  }