
<!DOCTYPE html>
<html lang="fr" >
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <link href="/css/compknow.css" rel="stylesheet" type="text/css"/>
        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="/css/splide.min.css">
        <title>WalkingFish</title>

        <script>
          document.addEventListener( 'DOMContentLoaded', function () {
            // Get the main carousels id and thumbnail carousels id in a dict : {main id, thumbnail id}
            var carouselDict = {};

            // Get all the carousels containers
            var carousels_containers = document.querySelectorAll( '.images-carousels' );
             
            // Iterate through the carousels containers
            for ( var i = 0; i < carousels_containers.length; i++ ) {
              var carousel_container = carousels_containers[ i ];
              var main_carousel = carousel_container.querySelector( '.main-carousel' );
              var article_id = main_carousel.getAttribute("article_id");
              var main_carousel_id = 'main-carousel' + article_id ;
              var thumbnail_carousel_id = 'thumbnail-carousel' + article_id;
              carouselDict[ main_carousel_id ] = thumbnail_carousel_id;
            }

            // Create a blank array of tuples
            var carouselTuples = [];

            // Iterate through the carousel dict
            for ( var main_carousel_id in carouselDict ) {
              var thumbnail_carousel_id = carouselDict[ main_carousel_id ];
              main = new Splide( '#' + main_carousel_id, {
                type      : 'fade',
                heightRatio: 1,
                rewind    : true,
                pagination: false,
                arrows    : false,
              } );

              thumbnails = new Splide( '#' + thumbnail_carousel_id, {
                fixedWidth : 60,
                fixedHeight: 60,
                gap        : 10,
                rewind     : true,
                pagination : false,
                focus      : 'center',
                isNavigation: true,
                breakpoints: {
                  600: {
                    fixedWidth : 60,
                    fixedHeight: 44,
                  },
                },
              } );

              // Add the main and thumbnail splide to the array
              carouselTuples.push( [ main, thumbnails ] );
            }

            // Iterate through the array of tuples
            for ( var i = 0; i < carouselTuples.length; i++ ) {
              var carouselTuple = carouselTuples[ i ];
              var main = carouselTuple[ 0 ];
              var thumbnails = carouselTuple[ 1 ];

              main.sync( thumbnails );
              main.mount();
              thumbnails.mount();
            }
            
          } );
        </script>
    </head>
    <body>                 
      <div th:replace="fragments/header :: header"></div>

      <!--Conteneur de la page-->
      <div class="container mt-4">		

        <div th:replace="fragments/article :: article-list"></div>

      </div>

      <div th:replace="fragments/footer :: footer"></div>

      <script src="/js/splide.min.js"></script>
      <script src="/js/popper.min.js"></script>
      <script src="/js/bootstrap.min.js"></script>

    </body>
</html>