
<!DOCTYPE html>
<html lang="fr" >
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <link href="/css/compknow.css" rel="stylesheet" type="text/css"/>
        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="/css/splide.min.css">
        <script src="/js/splide.min.js"></script>
        <title>WalkingFish</title>

        <script>
          document.addEventListener( 'DOMContentLoaded', function () {
            // Get the main carousels id and thumbnail carousels id in a dict : {main id, thumbnail id}
            
            // Iterate through the carousel dict
            
            var thumbnails = new Splide( '#thumbnail-carousel102', {
              fixedWidth : 100,
              fixedHeight: 60,
              gap        : 10,
              rewind     : true,
              pagination : false,
              focus      : 'center',
              isNavigation: true,
              breakpoints: {
                600: {
                  fixedWidth : 60,
                  fixedHeight: 44,
                },
              },
            } ).mount();

            var main = new Splide( '#main-carousel102', {
              type      : 'fade',
              fixedHeight: 400,
              rewind    : true,
              pagination: false,
              arrows    : false,
            } );

            main.sync( thumbnails );
            main.mount();
            thumbnails.mount();
          } );
        </script>
    </head>
    <body>                 
      <div th:replace="fragments/header :: header"></div>

      <!--Conteneur de la page-->
      <div class="container" style="margin-top: 100px; margin-left: auto; margin-right: auto;">		

        <div th:replace="fragments/article :: article-list"></div>

      </div>

      <div th:replace="fragments/footer :: footer"></div>

    </body>
</html>