
<!DOCTYPE html>
<html lang="fr" >
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <link href="css/compknow.css" rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <title>WalkingFish</title>
    </head>
    <body>          
      <div th:replace="fragments/header :: header"></div>

      <!-- background image-->		
      <div id="first_image"></div>

      <!--Conteneur de la page-->
      <div class="container" style="margin-top: 100px; margin-left: auto; margin-right: auto;">		

        <!--Ligne contenant toutes les cartes-->
        <div class="row">
          <div class="subtitle_homepage">
            <div class="col-12 mb-5">
              <h2>Qu'est-ce donc?</h2>
            </div>
          </div>
          
          <div class="col-12 col-lg-6 mb-5">
            <p class="homepage_test_format">2 potes + 1 délire = un poisson mort qui marche. Si vous voulez soutenir deux fous ou juste sauver quelques poissons de la noyade : Jetez-vous à l'eau et <a href="https://instagram.com/walkingxfish?igshid=aoi76q9yl4vj">passez commande</a> !</p>
          </div>

          <!-- <div class="col-12 col-lg-6 mb-5" style="margin-top: 40px;">
            <p id="first_text">The Walking Fish est une marque de vêtement, créée par deux étudiants, et représentée par un logo hors du commun.</p>
          </div> -->

          <div class="col-12 col-lg-6 text-center">
            <img id="text_logo" class="img-fluid" src="img/walkingfish_logo.png"/>
          </div>

          <div class="col-12 mb-5" style="margin-top: 40px; font-size: 1.5em;">
            <p class="homepage_test_format text-center">Nos poissons vont avec tout, même avec vous !</p>
          </div>

          <div class="subtitle_homepage">
            <div class="col-12 mb-5">
              <h2 >Comment commander?</h2>
            </div>
          </div>
          
        </div>
      </div>

      <div th:replace="fragments/footer :: footer"></div>

    </body>
</html>