
<!DOCTYPE html>
<html lang="fr" >
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <link href="/css/compknow.css" rel="stylesheet" type="text/css"/>
        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <script src="/js/jquery-3.6.3.min.js"></script>
        <title>WalkingFish</title>
        <script>
          $(document).ready(function() {
            $('#images').on('change', function() {
              $('#image-preview').html('');
              var files = $(this)[0].files;
              for (var i = 0; i < files.length; i++) {
                var file = files[i];
                var reader = new FileReader();
                reader.onload = function(e) {
                  $('#image-preview').append('<img src="' + e.target.result + '" width="200" height="200" style="margin:10px">');
                };
                reader.readAsDataURL(file);
              }
            });
          });
      </script>          
    </head>
    <body>          
      <div th:replace="fragments/header :: header"></div>

      <!--Conteneur de la page-->
      <div class="container mt-4">		

        <div th:replace="fragments/article :: new-article"></div>
        
      </div>

      <div th:replace="fragments/footer :: footer"></div>

      <script src="/js/splide.min.js"></script>
      <script src="/js/popper.min.js"></script>
      <script src="/js/bootstrap.min.js"></script>

    </body>
</html>