<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <link href="/css/compknow.css" rel="stylesheet" type="text/css" />
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <script src="/js/jquery-3.6.3.min.js"></script>
    <title>WalkingFish</title>
    <script>
      $(document).ready(function () {
        document.getElementById("delete-button").addEventListener("click", function(){
          if(confirm("Êtes-vous sûr de vouloir supprimer cet article?")){
            // Redirection vers la page de suppression de l'article
            window.location.href = "/admin/delete/" + document.getElementById("id").value;
          }
        });
      });
    </script>
  </head>
  <body>
    <div th:replace="fragments/header :: header"></div>

    <!--Conteneur de la page-->
    <div
      class="container mt-4"
    >
      <div th:fragment="show-article">
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Nom</th>
              <th scope="col">Prix</th>
              <th scope="col">Description</th>
              <th scope="col">Type</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td th:text="${article.name}"></td>
              <td th:text="${article.price}"></td>
              <td th:text="${article.description}"></td>
              <td th:text="${article.type}"></td>
            </tr>
          </tbody>
        </table>

        <div th:if="${isAdmin}" class="d-flex justify-content-between mt-5 mb-5">
          <a th:href="@{/admin/edit/{id}(id=${article.id})}">
            <button type="submit" class="btn btn-info p-3 text-white">
              Modifier l'article
            </button>
          </a>
            <form
              action="#"
              th:action="@{/admin/delete}"
              th:object="${article}"
              method="post"
              onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet article?');"
            >
              <input type="hidden" th:value="${article.id}" name="id" />
              <button type="submit" class="btn btn-danger p-3">Supprimer</button>
            </form>
        </div>

        <h1>Images de l'article</h1>

        <div class="add-button-container">
          <form
            class="add-button"
            id="addImagesForm"
            th:if="${isAdmin}"
            th:action="@{/admin/picture/save}"
            enctype="multipart/form-data"
            method="post"
          >
            <label for="images" class="upload-file-button">
              <svg viewBox="0 0 100 100">
                <path
                  d="M50,10 L50,90 M10,50 L90,50"
                  stroke="#BD9C77"
                  stroke-width="5"
                />
              </svg>
            </label>

            <input type="hidden" th:value="${article.id}" name="article_id" />

            <input
              type="file"
              id="images"
              name="images"
              multiple
              style="display: none"
            />
          </form>

          <form
            th:each="picture: ${article.pictures}"
            class="image-container"
            th:if="${isAdmin}"
            th:action="@{/admin/picture/delete}"
            method="post"
            onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette image?');"
          >
            <input type="hidden" th:value="${picture.id}" name="picture_id" />
            <input type="hidden" th:value="${article.id}" name="article_id" />

            <div class="image-wrapper">
              <img th:src="${picture.url}" class="image" />
              <button class="remove-button btn btn-danger" type="submit">
                Supprimer
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div th:replace="fragments/footer :: footer"></div>


    <script src="/js/splide.min.js"></script>
      <script src="/js/popper.min.js"></script>
      <script src="/js/bootstrap.min.js"></script>
    <script>
      document.getElementById("images").onchange = function () {
        document.getElementById("addImagesForm").submit();
      };
    </script>
  </body>
</html>
